.stack > * + * {
  margin-top: var(--stack-space, 1.5rem);
  margin-bottom: var(--stack-space, 1.5rem);
}

.stack h2,
.stack h3 {
  --stack-space: 2em;
}

.stack h2 + *,
.stack h3 + * {
  --stack-space: 0.8em;
}

.stack p {
  line-height: 1.8;
}

.stack ul {
  padding: revert;
  list-style: revert;
}

.stack li {
  margin-top: 10px;
}

.stack li p.strong {
  display: inline-block;
  font-weight: bold; 
  font-size: 110%;
  border-bottom: 2px solid #222222; 
  color: #007032; 
}